.container {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    padding: 30px 60px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: #041B3B; 
    border: 1px solid #415A77;
    border-radius: 5px;
    gap: 16px;
    align-items: center;
    height: fit-content;
}

.top {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
}

.imgContainer {
    position: relative;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.input {
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
    flex: 1;
    color: #E0E1DD;
    font-weight: bold;
    background-color: #1D3555;
}

.input::placeholder {
    color: #E0E1DD;
}

.button {
    padding: 10px 40px;
    color: #E0E1DD;
    border: 2px solid #415A77;
    background-color: #041B3B;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.1s;
}

.button:hover {
    background-color: #1D3555;
    transition: 0.1s;
}

.postsContainer {
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sideContainer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}