.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    padding: 0 60px;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}
