.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #041B3B; 
    border: 1px solid #415A77;
    border-radius: 5px;
    color: white;
}

.imgContainer {
    position: relative;
    width: 100%;
    height: 500px;
}

@media (max-width: 933px) {
    .imgContainer {
        height: 300px;
    }
}

.userImgContainer {
    position: relative;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-right: auto;
    padding: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userDetails {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    gap: 10px;
}

.buttonsContainer {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}

.button {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #415A77;
    padding: 5px 12px 5px 12px;
    border-radius: 20px;
}

.inputContainer {
    border-top: 1px solid #415A77;
    padding: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
}

.profileImgContainer {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.input {
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
    flex: 1;
    color: #E0E1DD;
    font-weight: bold;
    background-color: #1D3555;
}

.input::placeholder {
    color: #E0E1DD;
}

.comments {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.bottom {
    border-top: 1px solid #415A77;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006aff;
    cursor: pointer;
}