.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    padding: 20px;
    width: 100%;
    height: fit-content;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.imgContainer {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
}

.groupsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subtitle {
    color: #4772ad;
}